.commentItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 5px;
}

.commentHeader {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;

    background-color: rgba(0, 0, 0, 0.02);
}

.commentBody {
    padding: 5px 10px;
}

.commentAuthor {
    font-weight: 600;
    color: grey;
    text-decoration: none;

    transition: all 0.2s ease;
}

.commentAuthor:hover {
    text-decoration: none;
}

.commentFooter {
    padding: 5px 10px;

    background-color: rgba(0, 0, 0, 0.02);
}

.commentTextarea {
    min-height: 150px;
}
